@page
@model GamesCollection.GameModel
@{
    ViewData["Title"] = "Game";
}

<h1>Game</h1>
<dl>
    <dt>Name</dt>
    <dd></dd>
    <dt>Website</dt>
    <dd></dd>
    <dt>YouTube</dt>
    <dd></dd>
    <dt>Developer</dt>
    <dd></dd>
    <dt>Publisher</dt>
    <dd></dd>
</dl>
<h2>Genres</h2>
<ul>
</ul>

