@page
@model MilionarFINAL.Pages.HraModel
@{
    ViewData["Title"] = "Vyhra";
}

    <div class="jumbotron p-3 m-3 bg-success text-white">
        <div class="text-center">
            <div class="d-flex justify-content-center p-3 m-3">
                <h1 class="display-1">VYHRÁL JSI</h1>
            </div>
            <div class="d-flex justify-content-center p-3 m-3">
                <h3 class="display-4">
                    @(User.Identity.Name)
                </h3>
            </div>
            <a class="btn btn-dark p-3 m-3" href="@Url.Page("./Index")">
                Zpět do hlavní nabídky
            </a>
        </div>
    </div>

